<div class="preset-container">
  <div class="preset-container-content">
    <div class="left">
      <mat-card>
        <mat-card-content class="menu-buttons">
          <button class="menu-button" mat-stroked-button (click)="create()">
            <mat-icon>insert_drive_file</mat-icon>
            <span class="t-small">Session</span>
          </button>
          <button class="menu-button" mat-stroked-button (click)="create()">
            <mat-icon>cast_connected</mat-icon>
            <span class="t-small">Session</span>
          </button>
          <button class="menu-button" mat-stroked-button (click)="create()">
            <mat-icon>computer</mat-icon>
            <span class="t-small">Session</span>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="no-left-margin fill">
        <mat-card-title>Some major content</mat-card-title>
        <mat-card-subtitle>Here is some major content for HOME screen. For example a list of recent files/actions.</mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
